<!DOCTYPE html>

<html>
  <head>
    <title>The Alpha-Blog</title>

    
  </head>
  <body>
    
    <h1>Prepare yourself to be amazed!</h1>
    
    <hr>
    
    <div class = "main">
      
      <div class = "details">
        <p>On this blog, you will read the most astouding information ever! I have compiled all my vast knowledge, and
        written it down in the greatest of all blogs. And there is more every day.</p>
         <%= link_to "about", about_path %>
      </div>
    </div>
    
   
    
  </body>
</html>